<div class="container admin-dash">
  <div class="row">
    <div class="col m4 offset-4">
      <h2>All Items</h2>
      <ul class="collection">
        <%= render @items %>
      </ul>
    </div>
  </div>
</div>
