<h2>Admin Dashboard</h2>

<div class="container">
  <div class="row">
    <div class="col m4">
      <%= button_to admin_stores_index %>
      Edit Stores
    </div>
    <div class="col m4">
      Edit Items
    </div>
    <div class="col m4">
      Edit Avatars
    </div>
  </div>

</div>
