<nav class="#eceff1 blue-grey lighten-5 admin-dash">
  <li class="brand-logo black-text" style="stationary-text">Administrator</li>
  <ul class="right hide-on-med-and-down">
    <li><%=link_to "Dashboard", admin_dashboard_index_path %></li>
  </ul>
</nav>
