<div class="container admin-dash">
  <div class="row">
    <div class="col m12">
      <h2>All Stores</h2>
      <ul class="collection">
        <%= render @stores %>
      </ul>
    </div>
  </div>
</div>
