<a href="<%#= store_path(@location.apothocary) %>">
  <img class="responsive-img" src="<%= image_url('images/apothocary.png') %>"
                              onmouseover	="this.src='<%= image_url('images/apothocary_hover.png') %>'"
                              onmouseout	="this.src='<%= image_url('images/apothocary.png') %>'"></a>
