<a href="<%= store_path(@location.armory) %>">
  <img class="responsive-img" src="<%= image_url('images/armory.png') %>"
                              onmouseover	="this.src='<%= image_url('images/armory_hover.png') %>'"
                              onmouseout	="this.src='<%= image_url('images/armory.png') %>'"></a>
