<a href="<%#= store_path(@location.blacksmith) %>">
  <img class="responsive-img" src="<%= image_url('images/blacksmith.png') %>"
                              onmouseover	="this.src='<%= image_url('images/blacksmith_hover.png') %>'"
                              onmouseout	="this.src='<%= image_url('images/blacksmith.png') %>'"></a>
