<div class="row">
	<div class="col m12">
		<img class="responsive-img" src="<%= image_url('spacer.png') %>">
	</div>
</div>
<div class="row">
  <div class="col m12">
		<img class="responsive-img" src="<%= image_url('spacer.png') %>">
	</div>
</div>
<div class="row">
  <div class="col m12">
		<img class="responsive-img" src="<%= image_url('spacer.png') %>">
	</div>
</div>
<div class="row">
	<div class="col m1">
		<%= render partial: 'blacksmith_link' %>
	</div>
</div>
