<a href="<%= store_path(@location, @location.inn) %>">
  <img class="responsive-img" src="<%= image_url('images/pp.png') %>"
                              onmouseover	="this.src='<%= image_url('images/pp_hover.png') %>'"
                              onmouseout	="this.src='<%= image_url('images/pp.png') %>'"></a>
