<div class="about center">
  <center><h2>The Mission to Destroy the Ring</h2></center>
  <div class="container">
    <p>
      Advance from location to location on the journey into Mordor to destroy the ring.
      Purchase well needed weapons from the blacksmith, armors from the armory, foods from
      the inn, and medicinal salves from the apothecary.  The road is treacherous
      and you should plan well for the dangers of Middle Earth in these dark times.
      There have even been rumors of orcs across the land on the look out for the ring...
    </p>
  </div>
</div>
