<h1>Travel Summary</h1>
<ul>
  Items Acquired
  <li>Sword</li>
</ul>
<ul>
  Items Used
  <li>Bread</li>
</ul>
<ul>
  New Injuries
  <li>Sore Throat</li>
</ul>

<%= link_to "Continue", journey_path(@location.next_location) %>
