/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require_tree .
 */
@import "materialize";

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.application-body{
  background-image: url("http://i.imgur.com/9olXuLe.jpg");
}

.application-body-doom{
  background-image: url('doom.jpeg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.application-body-dashboard{
  background-image: url('dashboard.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.application-body-shire{
  background-image: url('shire.jpeg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.application-body-armory{
  background-image: url('armory.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.application-body-blacksmith{
  background-image: url('blacksmith.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.application-body-apothecary{
  background-image: url('apothecary.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}
.application-body-inn{
  background-image: url('inn.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.application-body-start{
  background-image: url('start.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.application-body-granite{
  background-image: url('granite.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.application-body-bree{
  background-color: black;
  background-image: url('bree.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.application-body-rivendell{
  background-color: black;
  background-image: url('rivendell.jpg');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.journal {
  background-image: url('journal.png');
  background-size:     cover;
  background-repeat:   no-repeat;
  background-position: center center;
}

.collection {
    border: 1px solid;
  }
.collection .collection-item {
  background-color: transparent;
}

td, th {
    padding: 0px 0px;
    display: table-cell;
    text-align: left;
    vertical-align: middle;
    border-radius: 2px;
}

.flavor-card{
  .card-title{
    font-size: xx-large;
  }
  .card-content{
    font-size: large;
  }
  .card-action{
    font-size: large;
  }
}

.card .card-action a {
  color:black;
}
.card .card-action a:hover {
  color: green;
}

.btn:hover {
  background-color: #00b8d4;
}
.btn, .btn-large {
  background-color: black;
}

.p {
  font-weight: 100;
}

.dashboard-cursive{
  color: white;
  font-size: 3.5em;
  font-family: 'Tangerine', cursive;
  line-height: 1.25em;
}

.avatar-selection{
  a {
    color: white;
    font-size: 3.5em;
    font-family: 'Tangerine', cursive;
    line-height: 1.25em;
    &:hover{
      color: #FDD8A8;
    }
    &:active{
      color: #ffab40;
    }
  }
}

h1 {
  color: white;
  font-size: 3.5em;
  font-family: 'Tangerine', cursive;
  line-height: 1.25em;
}
a {
  font-family: 'Tangerine', cursive;

}
button {
  font-family: 'Tangerine', cursive;
}

.card.large {
  height: 520px;
  width: 400px;
}

.nav-links{
  a {
    font-size: large;
    color: #ffab40;
    &:hover {
      color: #FDD8A8;
    }
  }
}

main {
  flex: 1 0 auto;
}

.logo-image {
  max-height: 60px;
}

.home-image {
  height: auto;
  max-width: 100%;
}

#item-picture {
  max-height: 240px;
  width: auto;
}

.side-profile-pic {
  max-width: 150%;
  margin-left: 0px;
}

.avatar-show{
  background-color: black;
  color: white;
  box-shadow: 1px 1px 10px 1px rgba(0,0,0,0.7);
}

.scrolling {
  width: auto;
  height: 500px;
  overflow: scroll;
}

.collection .collection-item {
  border-bottom: none;
  display: block;
  box-sizing: initial;
}
.title {
  font-size: 110% !important;
  font-weight: bold !important;
}

.collection .collection-item.avatar .secondary-content {
    top: 9px;
    right: 2px;
    position: absolute;
}


// .town_table{
//   max-width: 800px !important;
//   display: block;
// }
//
// .town_table td{
//   border: none;
//   border-collapse: collapse;
//   border-spacing: 0px;
//   padding-bottom: 0px;
// }
//
// .town_table img.responsive-img {
//   max-width: inherit !important;
//   // max-width: 90% !important;
//   height: auto;
//   width: auto;
//   vertical-align: bottom;
//   display: block;
//   padding-right: 0px;
//   margin-right: 0px;
// }
.town.row{
  max-width: 800px !important;
  display: block;
  border: none;
  border-collapse: collapse;
  border-spacing: 0px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.town_table img.responsive-img {
    max-width: inherit !important;
    vertical-align: bottom;
    display: block;
}

.town img.responsive-img {
  max-width: inherit !important;
  // max-width: 90% !important;
  height: auto;
  width: auto;
  vertical-align: bottom;
  display: block;
  padding-right: 0px;
  margin-right: 0px;
}

.inventory-header{
  border-bottom: 2px solid white;
}

.inventory{
  display: block;
}
