<center><img class="responsive-img" src="<%= @category.category_image %>"></center>

<div class="chips">
  <div class="row">
    <%= render @category.gimee_your_chips %>
</div>

<%= link_to "Return to categories", categories_path, class: "waves-effect waves-light btn" %>
